<ul class="sidenav" id="list-menu-mob">
    <li><a href="{{path_for('home')}}">Home</a></li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">
                    <u>Menu</u>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{{path_for('playground')}}">Playground</a></li>
                        {% if not isLogin %}
                        <li class="divider"></li>
                        <li><a href="{{path_for('login')}}">Login</a></li>
                        <li><a href="{{path_for('register')}}">Register</a></li>
                        {% else %}
                        <li class="divider"></li>
                        <li><a href="{{path_for('logout')}}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<ul id="menu-dropdown" class="dropdown-content">
    <li><a href="{{path_for('playground')}}">Playground</a></li>
    {% if not isLogin %}
    <li class="divider"></li>
    <li><a href="{{path_for('login')}}">Login</a></li>
    <li><a href="{{path_for('register')}}">Register</a></li>
    {% else %}
    <li class="divider"></li>
    <li><a href="{{path_for('logout')}}">Logout</a></li>
    {% endif %}
    
</ul>

<nav>
    <div class="nav-wrapper container">
        <a href="{{path_for('home')}}" class="brand-logo">NEMU</a>
        <a href="#" data-target="list-menu-mob" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="list-menu-desk" class="right hide-on-med-and-down">
            <li><a href="{{path_for('home')}}">Home</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="menu-dropdown">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>